@media (min-width: 768px) and (max-width: 960px) {
  /* HEADER AND FOOTER */

  .header {
    background-image: linear-gradient(
        rgba(10, 14, 52, 0.9),
        rgba(10, 14, 52, 0.9)
      ),
      url(../sources/img/football_1280.jpg);
  }

  .footer {
    background-image: linear-gradient(
        rgba(10, 14, 52, 0.9),
        rgba(10, 14, 52, 0.9)
      ),
      url(../sources/img/game_1280.jpg);
  }

  .header__text-logo,
  .footer__text-logo {
    width: 210px;
  }
  .footer__text-logo {
    margin-bottom: 20px;
  }

  .header__slogan {
    margin: 0 auto;
    padding: 165px 90px 0 90px;
    font-size: 64px;
  }

  .footer__slogan {
    font-size: 85px;
  }

  .header__slogan span {
    margin-top: 0;
    margin-left: 100px;
    font-size: 64px;
  }

  .footer__slogan span {
    font-size: 35px;
    font-weight: normal;
    line-height: 1;
  }

  .header__buttons,
  .footer__buttons {
    display: flex;
    justify-content: center;
    margin-top: 290px;
    margin-bottom: 90px;
  }

  .header__button,
  .footer__button {
    width: 311px;
    height: 77px;
    border-radius: 38.5px;
    font-size: 14px;
  }

  .header__button:nth-child(1),
  .footer__button:nth-child(1) {
    margin: 0 15px 0 0;
  }

  .header__button:nth-child(2),
  .footer__button:nth-child(2) {
    margin: 0 0 0 15px;
  }

  .header__button .logo,
  .footer__button .logo {
    width: 33%;
    padding-right: 25px;
    padding-bottom: 5px;
  }

  .header__button:nth-child(2) .logo,
  .footer__button:nth-child(2) .logo {
    width: 40%;
  }

  .header__button .logo-image,
  .footer__button .logo-image {
    width: 42px;
    height: 50px;
  }

  /* ************ */

  .footer .child3 .logo + .cta {
    width: 67%;
  }

  .footer .child4 .logo {
    width: 40%;
    padding-right: 29px;
  }

  .footer .child4 .logo + .cta {
    width: 60%;
  }

  .footer .child3 {
    padding: 0 15px 0 0;
  }

  .footer .child4 {
    padding: 0 0 0 15px;
  }

  .footer .child1 {
    padding-top: 125px;
  }

  .footer .child5 {
    padding-bottom: 24px;
  }

  .footer .surface {
    width: 132px;
    height: 132px;
    border-radius: 25px;
    padding: 14px 12px 12px 12px;
    background-image: linear-gradient(
      180deg,
      rgb(115, 83, 210),
      rgb(80, 55, 155)
    );
  }

  .footer .child2 {
    padding-top: 65px;
  }

  /* SECTION 1, SECTION 2, SECTION 3 */

  .athlets,
  .players {
    position: relative;
  }

  .athlets .img-footballer {
    position: absolute;
    top: 90px;
    left: -160px;
  }

  .athlets .container-flex:nth-of-type(1),
  .players .container-flex:nth-of-type(1) {
    background-color: rgb(255, 255, 255);
  }

  .athlets .container-flex:nth-of-type(1)::before,
  .players .container-flex:nth-of-type(1)::before {
    background-color: rgb(255, 255, 255);
  }

  .athlets__heading,
  .athlets .container-flex {
    margin: 0;
    padding-left: 290px;
    padding-right: 50px;
  }
  .players__heading,
  .players .container-flex {
    margin: 0;
    padding-left: 30px;
    padding-right: 350px;
  }

  .athlets__heading,
  .players__heading,
  .cards__heading {
    font-size: 80px;
  }
  .athlets__heading {
    padding-top: 65px;
  }
  .players__heading {
    padding-top: 60px;
  }

  .athlets .container-flex,
  .players .container-flex {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .athlets__subheading,
  .players__subheading {
    font-size: 32px;
  }

  .athlets__subheading::before,
  .players__subheading::before {
    font-size: 18px;
    top: -10px;
    margin-right: 10px;
  }

  .athlets .text,
  .players .text {
    font-size: 16px;
  }

  .players .img-basketballer {
    position: absolute;
    top: 30px;
    right: 0;
  }

  .cards .text {
    font-size: 24px;
    padding-left: 5px;
    padding-right: 65px;
  }

  .cards .number-rectangle {
    position: absolute;
    left: 35px;
    top: -80px;
    width: 116px;
    height: 116px;
  }

  .cards .number {
    font-size: 24px;
  }

  .cards .number::after {
    bottom: -12px;
  }

  .cards__number-text {
    padding-top: 60px;
    padding-left: 30px;
  }

  .cards .container-card-flex {
    overflow: hidden;
  }
}
