@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

html,
body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.header,
.footer,
.athlets,
.section2,
.section3 {
  display: flex;
  flex-direction: column;
}

/* HEADER */

.header,
.footer {
  margin: 0;
  padding: 0;
  min-height: 568px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.header {
  background-image: linear-gradient(rgba(10, 14, 52, 0.9), rgba(10, 14, 52, 0.9));
  background-image: linear-gradient(rgba(10, 14, 52, 0.9), rgba(10, 14, 52, 0.9)), url(../sources/img/football_767.jpg);
  background-position: 50% 0;
}

.header__text-logo {
  margin: 33px auto 0 auto;
  width: 133px;
}

.header__slogan {
  margin: 0 auto;
  padding: 120px 20px 0 20px;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.3;
  font-size: 31px;
}

.header__slogan span {
  display: block;
  margin-left: 45px;
  margin-top: 13px;
  font-size: 28px;
}

.header__buttons {
  margin: 80px auto 0 auto;
}

.header__button:nth-child(2) {
  margin-top: 15px;
}

.header__button,
.footer .button {
  display: flex;
  align-items: center;
  width: 280px;
  height: 35px;
  border-radius: 17.5px;
  font-size: 8px;
  color: white;
  background-color: rgb(94, 66, 176);
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
}

.header__button .logo,
.footer .button .logo {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 9px;
}

.header__button .store,
.footer .button .store {
  font-weight: bold;
}

.header__button .logo-image,
.footer .logo .logo-image {
  width: 20px;
  height: 24px;
}


/* ALL SECTIONS - COMMON */

.athlets__heading,
.section2 .section-header {
  font-size: 50px;
  color: rgb(231, 231, 231);
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 10px;
}

.img-footballer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}


.athlets .text,
.section2 .text,
.section3 .text {
  padding-top: 15px;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: black;
  text-align: left;
}

.athlets .heading,
.section2 .heading,
.section3 .heading {
  color: rgb(193, 193, 193);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding-left: 8px;
  font-size: 23px;
  flex: 0 0 90%;
}

.athlets .container-flex,
.section2 .container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.athlets .number,
.section2 .number,
.section3 .number {
  font-weight: bold;
  font-size: 14px;
  border-bottom: 4px solid rgb(94, 66, 176);
}

.athlets .card,
.section2 .card,
.section3 .card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}



/* section 1 - athletes  */

.athlets .child1 {
  position: relative;
  min-height: 70px;
}

.athlets .child2 {
  position: relative;
  height: 235px;
}

.athlets .child2 .img-footballer {
  position: absolute;
  left: 75px;
}

.athlets .child3 {
  background-color: rgb(250, 250, 250);
}

.athlets .child3 .container-flex {
  padding-top: 20px;
}

.athlets .child4 {
  background-color: rgb(245, 244, 249);
}

.athlets .child5 {
  background-color: rgb(94, 66, 176)
}

.athlets .child5 .number {
  border-bottom-color: rgb(255, 255, 255);
}

.athlets .child5 .text {
  color: rgb(255, 255, 255);
}

/* section 2 - players  */

.section2 .child1 {
  position: relative;
}

.section2 .child2 {
  position: relative;
  height: 220px;
}

.section2 .child2 .img-basketballer {
  position: absolute;
  left: 8px;
}

.section2 .child3 {
  background-color: rgb(250, 250, 250);
}

.section2 .child3 .container-flex {
  padding-top: 20px;
}

.section2 .child4 {
  background-color: rgb(245, 244, 249);
}

.section2 .child5 {
  background-color: rgb(9, 12, 53);
}

.section2 .child5 .number {
  color: rgb(135, 101, 221);
  border-bottom-color: rgb(255, 255, 255);
}

.section2 .child5 .text {
  color: rgb(193, 193, 193);
}

/* section 3 - cards  */

.section3 .container-card-flex {
  display: flex;
  flex-direction: column;
}

.section3 .img-be-active,
.section3 .img-find-contact,
.section3 .img-work-it {
  display: block;
  width: 100%;
}

.section3 .number-text {
  position: relative;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 75px;
}

.section3 .number-rectangle {
  position: absolute;
  left: 20px;
  top: -58px;
  width: 70px;
  height: 70px;
  background-color: rgb(94, 66, 176);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 .number {
  display: inline-block;
  color: rgb(255, 255, 255);
  border-bottom: 4px solid rgb(143, 123, 200);
}

.section3 .heading {
  padding-left: 0;
}

/* FOOTER  */

.footer {
  background-image: linear-gradient(rgba(10, 14, 52, 0.9), rgba(10, 14, 52, 0.9));
  background-image: linear-gradient(rgba(10, 14, 52, 0.9), rgba(10, 14, 52, 0.9)), url(../sources/img/game_767.jpg);
}

.footer .child1 {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.footer .child1 .surface {
  width: 70px;
  height: 70px;
  border-radius: 12px;
  padding: 9px 7px 7px 7px;
  background-image: linear-gradient(180deg, rgb(115, 83, 210), rgb(80, 55, 155));
}

.footer .child2 {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .slogan1,
.footer .slogan2,
.footer .cta,
.footer .store {
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.footer .subslogan {
  font-size: 14px;
  color: rgb(164, 150, 202);
  text-transform: uppercase;
}

.footer .child3,
.footer .child4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.footer .child3 {
  padding-top: 70px;
}

.footer .child4 {
  padding-top: 13px;
}

.footer .child5 {
  padding-bottom: 10px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}