@media (min-width: 961px) {
  /* HEADER AND FOOTER  */

  .header {
    background-image: linear-gradient(rgba(10, 14, 52, 0.9),
      rgba(10, 14, 52, 0.9)),
      url(../sources/img/football_1920.jpg);
      min-height: 960px;
    display: block;
  }

  .footer {
    background-image: linear-gradient(rgba(10, 14, 52, 0.9),
      rgba(10, 14, 52, 0.9)),
      url(../sources/img/game_1920.jpg);
  }

  .header__text-logo {
    display: block;
    margin: auto;
    padding-top: 47px;
    width: 191px;
  }

  .header__slogan {
    box-sizing: content-box;
    max-width: 1430px;
    padding-top: 280px;
    padding-left: 100px;
    padding-right: 150px;
    font-size: 90px;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 5px;
  }
  
  .header__slogan span {
    display: block;
    padding-left: 0px;
    text-align: right;
    margin-top: 0;
    margin: 0;
    font-size: 90px;
  }

  .header__buttons,
  .footer__buttons {
    display: flex;
    justify-content: center;
  }

  .header__buttons {
    margin-top: 215px;
    margin-bottom: 105px;
  }

  .footer__buttons {
    margin-top: 150px;
    margin-bottom: 260px;
  }

  .header__button:nth-child(1),
  .footer__button:nth-child(1) {
    margin: 0 25px 0 0;
  }

  .header__button:nth-child(2),
  .footer__button:nth-child(2) {
    margin: 0 0 0 25px;
  }

  .header__button,
  .footer__button {
    width: 311px;
    height: 77px;
    border-radius: 37.5px;
    font-size: 14px;
  }

  .header__button .logo,
  .footer__button .logo {
    width: 33%;
    padding-right: 25px;
    padding-bottom: 5px;
  }

  .header__button:nth-child(2) .logo,
  .footer__button:nth-child(2) .logo {
    width: 40%;
    padding-right: 29px;
  }
  
  .header__button .logo-image,
  .footer__button .logo-image {
    width: 42px;
    height: 50px;
  }


  .footer__text-logo {
    width: 191px;
    margin-bottom: 50px;
  }


  /* ATHLETS, PLAYERS */

  .athlets,
  .players {
    position: relative;
  }

  .athlets .container-flex:nth-of-type(1),
  .players .container-flex:nth-of-type(1),
  .athlets .container-flex:nth-of-type(1)::before,
  .players .container-flex:nth-of-type(1)::before {
    background-color: rgb(255, 255, 255);
  }

  .athlets .img-footballer {
    position: absolute;
    top: -75px;
    left: calc(50% - 560px);
  }
  .players .img-basketballer {
    position: absolute;
    top: -80px;
    left: calc(50% - 150px);
  }

  .athlets__heading,
  .athlets .container-flex {
    margin: 0;
    padding-left: calc(50% + 60px);
    padding-right: 195px;
    padding-top: 10px;
    padding-bottom: 60px;
  }
  .athlets .container-flex {
    padding-top: 45px;
    padding-bottom: 55px;
  }
  .athlets .container-flex:nth-of-type(3) {
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .players__heading,
  .players .container-flex {
    margin: 0;
    padding-left: 190px;
    padding-right: calc(50% - 150px);
  }
  .players .container-flex:nth-of-type(1) {
    padding-top: 95px;
  }
  .players .container-flex:nth-of-type(2) {
    padding-bottom: 95px;
  }

  .athlets__heading {
    margin-top: 0px;
    font-size: 80px;
    line-height: 1;
  }
  
  .players__heading {
    margin-top: 100px;
    font-size: 80px;
    line-height: 1;
  }

  .athlets__subheading::before,
  .players__subheading::before {
    font-size: 18px;
  }

  .athlets .text,
  .players .text {
    font-size: 20px;
    max-width: 750px;
  }

  .athlets__subheading,
  .players__subheading {
    font-size: 36px;
  }

  .athlets__subheading::before,
  .players__subheading::before {
    font-size: 18px;
    top: -13px;
    margin-right: 10px;
  }


  /* CARDS */

  .cards__heading {
    font-size: 80px;
  }

  .cards__container-flex {
    display: flex;
    flex-direction: row;
  }

  .cards__container-flex>* {
    width: 50%;
  }

  .cards img {
    height: 100%;
    object-fit: cover;
  }

  .cards .card:nth-child(2) .cards__number-text {
    order: -1;
  }

  .cards__number-text {
    padding: calc(20% - 170px) 210px 0 130px;
  }


  .cards .card:nth-child(2) .cards__number-text {
    /* padding: calc(20% - 170px) 6% 0 calc(20% - 170px); */
    padding: 12% 120px 0 190px;
  }

  .cards .number-rectangle {
    position: absolute;
    left: -84px;
    top: calc(50% - 155px);
    width: 168px;
    height: 155px;
  }

  .cards .card:nth-child(2) .number-rectangle {
    left: calc(100% - 84px);
  }

  .cards .number,
  .cards .text {
    font-size: 24px;
  }

  .cards .text {
    padding-top: 35px;
    max-width: 960px;
  }


  /* FOOTER */

  .footer .logo-cta-flex {
    padding-top: 220px;
    display: flex;
    justify-content: center;
  }

  .footer .child1,
  .footer .child2 {
    padding-top: 0;
  }

  .footer .child1 {
    padding-right: 35px;
  }

  .footer__slogan {
    padding-top: 0;
    padding-left: 35px;
    font-size: 84px;
    justify-content: center;
    align-items: flex-start;
    line-height: 1.1;
  }

  .footer__slogan span {
    font-size: 30px;
    font-weight: normal;
  }

  .footer .surface {
    margin: 0;
    width: 130px;
    height: 140px;
    border-radius: 30px;
    padding: 22px 13px 22px 13px;
  }

  .footer__buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .footer .buttons {
    padding-bottom: 262px;
  }
}